body{
    background-size: cover;
    background: black url("../img/wallpaper002.jpg") center top fixed ;
}
main{
    background-color: white;
    max-width: 700px;
    padding: 5px 20px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid rgb(20, 68, 68);
}
main > h1{
    text-align: center;
}
main > p{
    text-align: justify;
}